@media screen and (max-width: 768px) {
	.topnav {
  overflow: hidden;
  background-color: #fff;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
     color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    background: linear-gradient(45deg, #aad7ff, transparent);
}

.topnav a.icon {
      background: none;
  font-size:30px;
  display: block;
  position: absolute;
  right: 0;
  top:-7px;
}
.topnav a:hover {
/*  background-color: #ddd;*/
  color: black;
}

.active {
  background-color: #4CAF50;
}
nav {
	display:none;
}
	nav .logo {
	margin-left: -85px;
    position: absolute;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0,0,0,.8);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .links a {
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
		left: 300px;
		position: absolute;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
	h1{
		float: none;
		z-index: 9;
		left: 0;
		right: 0;
		top: 2px;
		bottom: 100%;
		width: auto;
		height: auto;
		font-size: 17px;
		margin-top:30px;
	}
	p{
		position: absolute;
		left: 75px;
		padding: 0px;
        margin: 0px;
		font-size: 7px;
	}
	 
	 input.know-more-btn {
    margin-top: 50px;
    height: 23px;
    width: 78px;
    margin-left: 100px;
}
	input.our-work-btn {
    margin-top: 50px;
    height: 23px;
    width: 78px;
    position: absolute;
    margin-left: 10px;
						}
	.cover {
    height: 190px;
    width: 269px;
    /* position: fixed; */
    margin-top: 15px;
    margin-left: 1px;
}

.content-image-1{
	margin-left: 60px;
    position: absolute;
    margin-top: 150px;
}
p.border {
    
    border-bottom: 40px solid;
    border-image-source: linear-gradient(#FFFFFF,#AAD7FF);
    /* border-image-slice: 1; */
    margin-top: 1px;
    width: 100%;
    margin-left: -75px;
}
h4{
    font-size: 17px;
    margin-top: -80px;
    position: absolute;
        right: 210px;
    /*margin-right: 18px;
    z-index: 100;*/
}
.content-text-1{
	margin-left: -151px;
}
p.para-1{
	    margin-top: -35px;
    position: absolute;
    margin-left: -50px;
    width: auto;
    font-size: 10px;
    letter-spacing: 0px;
}
p.para-2{
	    margin-top: 50px;
    position: absolute;
    margin-left: -50px;
    width: auto;
    font-size: 10px;
letter-spacing: 0px;}
img.size{
	height: 200px;
    width: auto;
}
.know-more-btn-1{
	position: absolute;
    margin-top: 110px;
    right: 235px;
}
h4.h4-1{
    font-size: 17px;
    margin-top: 200px;
    position: absolute;
        right: 220px;
    /*margin-right: 18px;
    z-index: 100;*/
}
.content-image-2{
	margin-left: -180px;
    position: absolute;
    margin-top: 560px;
}
.content-text-2{
	margin-left: -151px;
}
p.para-3{
	 margin-top: 245px;
    position: absolute;
    margin-left: -50px;
    width: 90%;
    font-size: 10px;
    letter-spacing: 0px;
}
p.para-4{
	    margin-top: 320px;
    position: absolute;
    margin-left: -50px;
    width: 90%;
    font-size: 10px;
    letter-spacing: 0px;
}
h1.speciality {
    margin-top: 945px;
}
.main-div{

}
.secondary-div-1{
min-height: 220px;
    margin-left: 291px;
    width: 300px;
}
.secondary-div-2{
min-height: 220px;
    margin-left: 291px;
    width: 300px;
    margin-top: 40px;
}
.secondary-div-3{
min-height: 220px;
    margin-left: 291px;
    width: 300px;
    margin-top: 40px;
}
img.grid-img {
    margin-left: 64px;
    margin-top: 37px;
    height: 180px;
}
h1.own-product {
    position: relative;
    margin-top: 1510px;
    left: 0px;
}
	.content-product
	{
	position: absolute;
    margin-top: 0px;
    left: 10%;
    /* top: 126%; */
    width: 80%;
    font-size: 10px;
	
	}
	.products-main-div {
    margin-left: -260px;
    margin-top: 10px;
    position: absolute;
		}
	.product-div-1{
		min-height: 220px;
    margin-left: 291px;
    width: 300px;
    margin-top: 60px;
	}
	.product-div-2{
	min-height: 220px;
    margin-left: 291px;
    width: 300px;
    margin-top:60px;
    }
	.product-div-3{
		min-height: 220px;
    margin-left: 291px;
    width: 300px;
    margin-top: 60px;
	}
	.product-div-4{
		min-height: 220px;
    margin-left: 291px;
    width: 300px;
    margin-top: 60px;
	}
	.product-div-5{
	min-height: 220px;
    margin-left: 291px;
    width: 300px;
    margin-top: 60px;
	}
	.product-div-6{
		min-height: 220px;
    margin-left: 291px;
    width: 300px;
    margin-top: 60px;
	}
	img.product-grid-img-1 {
    margin-top: 43px;
    margin-left: 76px;
		}
		img.product-grid-img-2 {
    margin-top: 43px;
    margin-left: 90px;
		}
		img.product-grid-img-3 {
    margin-top: 43px;
    margin-left: 104px;
		}
		img.product-grid-img-4 {
    margin-top: 43px;
    margin-left: 93px;
		}
		.product-content-grid{
			text-align: center;
			font: normal normal normal 15px/27px Poppins;
			letter-spacing: 0px;
			color: #999999;
			opacity: 1;
			margin-top: -14px;
		}
		p.learn {
   text-align: center;
    font: normal normal normal 16px/25px Poppins;
    letter-spacing: 0px;
    color: #49BE55;
    opacity: 1;
    margin-top: 34px;
    font-weight: bold;
    /* text-align: center; */
    margin-left: -150px;
    /* left: 15px; */
    margin-top: -50px;
    position: relative;
}
.testimonials {
    position: absolute;
    margin-top: 555%;
    margin-left: -114px;
		}
		img.left-img-1 {
  
    margin-bottom: 105px;
  margin-left: 180px;
			}
			img.left-img-2 {
        margin-left: -90px;
    margin-bottom: -45px;
}
	img.left-img-3 {
   margin-bottom: -110px;
    margin-left: 136px;
    height: 50px;
}
		img.center-img {
     margin-left: 225px;
    margin-top: -150px;
    height: 140px;
				}
			img.right-img-1 {
   margin-left: 380px;
    /* float: right; */
    margin-top: -230px;
    height: 70px;
    position: absolute;
}
			img.right-img-2 {
    position: absolute;
    margin-left: 395px;
    height: 60px;
    margin-top: -60px;
				}
			img.right-img-3 {
    margin-bottom: -71px;
    margin-left: 410px;
    position: relative;
    height: 50px;
				}
				p.center-content {
   width: 60%;
    margin-left: 120px;
    font-size: 10px;
    margin-top: -33px;
    line-height: 1.5;
				}
	h1.client {
    margin-left: 135px;
    width: 100%;
}
img.left-quote {
    margin-left: 178px;
    margin-bottom: 20px;
    height: 10px;
    position: relative;
}
	img.right-quote {
    margin-left: 200px;
    margin-bottom: 25px;
    padding-left: -15px;
    height: 10px;
    position: absolute;
}	
		p.author-name {
  margin-left: 55px;
    width: 100%;
    font-size: 12px;
    margin-top: 22px;				
			}
			p.ceo {
   margin-left: 55px;
    width: 100%;
    margin-top: 40px;
					}
			img.arrow-left-1 {
    margin-left: 70px;
    margin-top: 100px;
    position: absolute;
    height: 10px;
					}
			img.arrow-right-1 {
    position: absolute;
    margin-top: 100px;
    height: 10px;
    margin-left: 116px;
				}
				.form-bg{
                        width: 100%;
                       margin-top: 2550px;
				}
				table{
					width: 80%;
				}
				img.form-left-img {
    margin-top: -185px;
    margin-left: -5px;
    height: 190px;
    position: absolute;
}
img.form-right-img-1 {
   margin-top: -163px;
    height: 160px;
    margin-left: 200px;
    /* margin-right: 29px; */
    position: absolute;
}
img.form-right-img-2 {
   margin-left: 275px;
    margin-top: -231px;
    position: absolute;
    height: 200px;
}
td {
    padding: 0 20px;
}
td.form-group {
    position: absolute;
    margin-left: -130px;
    margin-top: 30px;
}
input.form-input {
    margin-top: -40px;
    position: absolute;
    /* width: 351px !important; */
    width: 100px;
    margin-left: -5px;
}
input.form-email {
   margin-top: -90px;
    position: absolute;
    width: 230px;
}
textarea, select {
    width: 235px;
    margin-top: -123px;
    position: absolute;
}
.form-btn{
	    margin-left: -37px;
    position: absolute;
    margin-top: -170px;
}
label.label {
    position: absolute;
    margin-top: -60px;
}
label.label-text{
	margin-top: -110px;
    position: absolute;
}
label.label-feedbeck{
    position: absolute;
    margin-top: -160px;
}
textarea#feedback {
    margin-top: -180px;
    position: absolute;
}
.contact-us {
          margin-left: 68px;
    margin-top: 240px;
    /* position: relative; */
    width: auto;
    font-size: 14px;
    text-align: center;
}
p.con {
    text-align: left;
    font: 15px/23px Poppins;
    letter-spacing: 0px;
    color: #101C21;
    opacity: 1;
    font-weight: bold;
    margin-left: 0px;
    display: inline;
    position: relative;
}
.our-comp {
     margin-left: -96px;
    margin-top: 349px;
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 14px;
}
.social-con {
     margin-left: 155px;
    margin-top: -147px;
    position: relative;
}
.contact-icon{
	position: absolute;
	margin-left:-40px;
	color: #9D60EB;
}
.contact-icon-1{
	    position: absolute;
    margin-left: -30px;
    color: #9D60EB;
}
.address {
        margin-left: 80px;
    margin-top: 20px;
    position: relative;
}
 .contact{
    font-size: 14px;;
    position: relative;
    left: 70px;
}
p.add {
  position: relative;
    width: 256px;
    margin-left: -95px;
    text-align: center;
    font-size: 12px;
}
img.left-footer-img {
   position: relative;
    margin-top: -50px;
    margin-left: 0px;
    height: 70px;
    } 
img.right-footer-img {
  position: absolute;
    margin-top: -50px;
    margin-left: 160px;
    height: 70px;
}
.align {
   margin-left: -15px !important;
    position: relative;
    font-size: 14px;
    text-align: center;
}
img.social-icon {
    margin-left: -65px;
    position: absolute;
    margin-top: 30px;
}
.suraj-dandwani {
    position: absolute;
    margin-top: 3250px;
}
img.foot-icon {
    margin-left: 100px;
    margin-top: 3419px;
    position: absolute;
}
.copyright {
    position: absolute;
    margin-left: 100px;
    margin-top: 35px;
    color: red;
    text-decoration: underline;
    padding-bottom: 35px;
}
p.search-magnify {
    position: absolute;
    margin-left: 100px;
    margin-top: 4px;
    font-size: 12px;
    color: #CCCCCC;
}
span.bold-h1 {
    font: normal normal 600 46px/58px Poppins;
    letter-spacing: 0.46px;
    text-transform: capitalize;
    font-size: 17px;
    margin-left: 74px;
    line-height: 0;
}
span.semi-bold-h1 {
    letter-spacing: 0.46px;
    color: #222222;
    text-transform: capitalize;
    font: normal normal normal 46px/58px Poppins;
    font-size: 16px;
    margin-left: 62px;
    line-height: 0;
}
span.text-1-bold {
    font: normal normal normal 36px/46px Poppins;
    letter-spacing: 0px;
    color: #222222;
    font-size: 28px;
    margin-left: 219px;
    margin-top: -38px;
    position: absolute;
    width: 91%;
}
span.text-1-semi-bold {
    font: normal normal 600 36px/46px Poppins;
    letter-spacing: 0px;
    color: #222222;
    margin-left: -4px;
    position: relative;
    left: 60%;
    right: 36%;
    font-size: 35px;
    top: -29px;
}
span.text-2-bold {
    font: normal normal normal 36px/46px Poppins;
    letter-spacing: 0px;
    color: #222222;
    position: absolute;
    margin-left: 108px;
    font-size: 12px;
    margin-top: -25px;
}
span.text-2-semi {
    font: normal normal 600 36px/46px Poppins;
    letter-spacing: 0px;
    color: #222222;
    right: -48%;
    position: relative;
    font-size: 33px;
    top: -25px;
}
span.spec-bold-h1 {
    font: normal normal normal 36px/46px Poppins;
    letter-spacing: 0px;
    color: #222222;
    margin-left: 47px;
    font-size: 32px;
}
span.spec-semi-bold-h1 {
    font: normal normal 600 36px/46px Poppins;
    letter-spacing: 0px;
    color: #222222;
    margin-left: 73px;
    font-size: 34px;
}
span.product-bold {
    font: normal normal normal 36px/46px Poppins;
    letter-spacing: 0px;
    color: #222222;
    font-size: 20px;
    margin-left: 89px;
}
span.product-semi-bold {
    font: normal normal 600 36px/46px Poppins;
    letter-spacing: 0px;
    color: #222222;
    font-size: 21px;
    margin-left: -2px;
}
span.client-bold {
    text-align: center;
    font: normal normal normal 36px/46px Poppins;
    letter-spacing: 0px;
    color: #222222;
    font-size: 20px;
    margin-left: -81px;
    position: relative;
    top: 15px;
}
span.client-semi-bold {
    font: normal normal 600 36px/46px Poppins;
    letter-spacing: 0px;
    color: #222222;
    font-size: 18px;
    position: absolute;
    margin-top: 16px;
    width: 38%;
}
span.form-bold {
    font: normal normal normal 36px/46px Poppins;
    letter-spacing: 0px;
    color: #222222;
    margin-left: 71px;
    font-size: 28px;
}
span.form-semi-bold {
    font: normal normal 600 36px/46px Poppins;
    letter-spacing: 0px;
    color: #222222;
    font-size: 28px;
    margin-left: 82px;
}
span.head-content-p {
    margin-left: -25px;
    position: absolute;
    width: 264px;
    line-height: 3;
}

}